* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dash-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar main-area";
  border: 1px solid black;
}

.dash-sidebar {
  grid-area: sidebar;
  background-color: lightblue;
}

.dash-main-area {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top-bar"
    "content-area";
  grid-area: main-area;
}

.dash-top-bar {
  grid-area: top-bar;
  background-color: lightcyan;
}

.dash-content-area {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 85%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "content-area-header"
    "content-area-content";
  grid-area: content-area;
}

.dash-content-area-header {
  grid-area: content-area-header;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.dash-content-area-content {
  grid-area: content-area-content;
  padding: 1rem;
  overflow-y: auto; /* Add a vertical scrollbar when content exceeds the maximum height */
}
