/* RESERT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dash-container {
  height: 100vh;
}

.dash-sidebar {
  background-color: lightgray;
}

.dash-content-area {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.dash-content-area-header {
  padding: 1rem;
}

.dash-content-area-content {
  padding: 1rem;
}

#backToDashBtn,
#backToProjectListBtn {
  height: 50px;
}

.widget-row {
  height: 20em;
  padding: 1em;
}

.top-project-card {
  width: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(62deg, #ffffff 0%, #f0f0f0 100%);
}

.empty-card{
  width: 100%;
  text-align: center;
}

.widget {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
  background-color: #ffff;
}

.widget-header {
  padding: 1em;
}

.widget-area {
  padding: 1em;
  gap: 1em;
}

.project-table-background {
  border-radius: 1em !important;
  background-color: white;
  padding: 1em;
}
