/* RESERT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #404258;
  --secondary: #474E68;
  --tertiary: #6B728E;
  --neutral: #ffffff; 
  --gradient-1 :linear-gradient(0deg, #404258 0%, #474e68 33%, #50577a 66%, #6b728e 100%);
  --gradient-2 : linear-gradient(62deg, #ffffff 0%, #f0f0f0 100%);
  --gradient-3 : linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  --gradient-4 : linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --gradient-5 : linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  
}
/* https://colorhunt.co/palette/404258474e6850577a6b728e */



.dash-container {
  height: 100vh;
}

.dash-sidebar {
  background-color: var(--primary);
}

.dash-content-area {
  /* background-color: #8ec5fc; */
  background-image: var(--gradient-4);
}

.dash-top-bar{
  background-color: var(--secondary);
}

.dash-content-area-header {
  padding: 1rem;
}

.dash-content-area-content {
  padding: 1rem;
}

#backToDashBtn,
#backToProjectListBtn {
  height: 50px;
}

.widget-row {
  height: 20em;
  padding: 1em;
}

.top-project-card {
  width: 100%;
  background-color: var(--neutral);
  background-image: var(--gradient-4);
}

.empty-card{
  width: 100%;
  text-align: center;
}

.widget {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--tertiary);
}

.widget-header {
  padding: 1em;
}

.widget-area {
  padding: 1em;
  gap: 1em;
}

.project-table-background {
  border-radius: 1em !important;
  background-color: var(--neutral);
  border: 1px solid var(--tertiary);
  padding: 1em;
}
